.f
{ 
  text-align: center;
  color: green;
  font-family: Arial;
border: none;
border-block-end-color: black;
font-size: 15px;
  
}
.modal-content {
  background: #fff;
  margin: 20% auto;
  padding: 20px;
  width: 90%;
  max-width: 320px;
  border-radius: 10px;
  background-color: green;
}

.tc
{
 text-align: center;
 font-size:10px;
 font-weight: bold;

}


.estado {
  font-size: 13px;
  color: #555;
  margin: 4px 0;
}

#modal-estado {
  font-size: 11px;
  margin: 6px 0;
  font-weight: bold;
}
.estado::before {
  content: "🟡🔥";
}
#btn-comprar {
  position: sticky;
  bottom: 0;
  background: #25D366;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
}

#abrircontacto() {
  background: #25D366;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
}

.butao12{
  text-align:center;
}