.f
{ 
  text-align: center;
  color: green;
  font-family: Arial;
border: none;
border-block-end-color: black;
font-size: 15px;
  
}
.modal-content {
  background: #fff;
  margin: 20% auto;
  padding: 20px;
  width: 90%;
  max-width: 320px;
  border-radius: 10px;
  background-color: green;
}